
::ng-deep {
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    label {
      min-width: 200px;
    }
  }
}




mat-form-field {
  display: block;
  width: 100%;
}

textarea {
  height: 100px;
  resize: vertical;
}
