@import "primeicons/primeicons.css";
body {
  background-color: #1b1a1f;
  color: #d0b5fd;
}

.loader {
  display: flex;
  justify-content: center;
}

.bottom-toolbar {
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 12px;
  margin-top: 1rem;
  background-color: #d0b5fd;
}