<div class="blog" *ngIf="(blog$ | async) as blog">

  <h2>{{blog?.description}}</h2>

  <img class="blog-thumbnail" [src]="blog?.iconUrl">

  <p-table [value]="lessons$ | async" class="p-datatable-striped header">
    <ng-template pTemplate="header">
        <tr>
            <th>#</th>
            <th>Description</th>
            <th>Duration</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr class="bg-dark">
            <td>{{ product.seqNo }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.duration }}</td>
        </tr>
    </ng-template>
</p-table>



  <button class="bottom-toolbar" 
          (click)="loadLessonsPage(blog)">Load More</button>

</div>

<div class="loader" *ngIf="!(loading$ | async )" >

    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8"  animationDuration=".5s"></p-progressSpinner>
  </div>